<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <h2><strong>WELCOME <%= user.userName.toUpperCase() %>!!!</strong></h2>
              <!--<p><strong>Email</strong>: <%= user.email %></p>-->
              <%if(user.role == "Student"){ %>
              <span>You currently have the following books checked out</span>
              <!--loop over all of the books this student has 'checked out'-->

              
              <%}%>

          </div>
<!--only users with the assigned role of teacher can Add a Book

<%if(user.role == "Teacher"){ %>


          <div class="mt-5">
            <h2>Add a Book</h2>
            <form action="/book/createBook" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="input input-bordered w-full max-w-xs" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <textarea class="input input-bordered w-full max-w-xs" id="author" name="author"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file"  id="imageUpload" name="file">
              </div>
              <button type="submit" class="inline-block cursor-pointer rounded-md bg-gray-800 px-4 py-3 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-900"  value="Upload">Submit</button>
            </form>
          </div>

          end of role===teacher only section


            <%}%>-->

      </div>
      <div class="col-6">
       <!-- <ul class="row list-unstyled">
        <% for(var i=0; i<books.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/book/<%= books[i]._id%>">
              <img class="img-fluid" src="<%= books[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>-->

        <div class="row justify-content-center mt-5">
          <%if(user.role == "Teacher"){ %>
          <a class="btn btn-primary" href="/addabook">Add Books to the Shelf</a>
          <%}%>

          <a class="btn btn-primary" href="/feed">Look for More Books</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>