<%- include('partials/header') -%>
<div class="bg-white">
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>

            <!--Welcomes the User to the site!-->
              <h2><strong>Welcome <%= user.userName[0].toUpperCase()+user.userName.substring(1)%>!!!</strong></h2><br>
<!--if the user is a student they get a list of books the have checked out -->

              <%if(user.role == "Student"){ %>
              <span><strong>You currently have the following books checked out:</strong></span><br>
              <!--loop over all of the books this student has 'checked out' into a table-->
              <br>
              <div class="container">
                <div class="overflow-x-auto">
                  <table class="table table-compact w-full">
                    <tr>
                      <th>Book</th>
                      <th>Author</th>
                      <th>Due Date</th>
                    </tr>

              
                    <% for(var i=0; i<books.length; i++) {%>
                      <% if (books[i].whereIsTheBook===user.userName){%>
                        <tr>
                          <td><a href="/book/<%= books[i]._id%>"><%= books[i].title %></a></td>
                          <td><%= books[i].author %></td>

                          <td><%= books[i].dueDate %></td>

                        </tr>




                        </a>
                      </li>
                      <% } %>



                     

                    <% } %>
                  </table>
                </div>
              </div>  

              <%}%>

          </div>
<br>
          <span>You have read <%= user.booksRead%> book<% if (user.booksRead!==1){%>s<% } %> this year.<span><br><br>
<!--add feature for kids to earn badges after a certain number of books are read -->
<h2><b>BADGES!</b></h2>

<% if (user.booksRead>=0){%><img src="img/jumping.png"><% } %> 
<% if (user.booksRead>1){%><img src="img/ace.png"><% } %> 
<% if (user.booksRead>5){%><img src="img/superb.png"><% } %> 
<% if (user.booksRead>0){%><img src="img/bookworm.png"><% } %> 
<% if (user.booksRead>15){%><img src="img/outstanding.png"><% } %> 



      </div>
      <div class="col-6">
       <!-- <ul class="row list-unstyled">
        <% for(var i=0; i<books.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/book/<%= books[i]._id%>">
              <img class="img-fluid" src="<%= books[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>-->




        <div class="row justify-content-center mt-5">
          <%if(user.role == "Teacher"){ %>
          <a class="btn btn-primary" href="/addabook">Add Books to the Shelf</a>
          <%}%>

          <a class="btn btn-primary" href="/feed">Look for More Books</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>