<%- include('partials/header') -%>

<!--quick math to determine how many books the user logged in has checked out and on hold to determine what data shows on the page-->
<% 
var booksCheckedOut = 0
var booksOnHold = 0
for(var i=0; i<books.length; i++) {
  if (books[i].whereIsTheBook===user.userName){
    booksCheckedOut +=1
    }
  if (books[i].holdBook.includes(user.userName)===true){
    booksOnHold += 1
  }
  }%>

<!--Welcomes the User to the site!-->

<div class="bg-white">
<div class="mx-auto max-w-2xl py-8 px-4 sm:py-8 sm:px-6 lg:max-w-7xl lg:px-8 ">

<div class="text-center">
<div class="container">

          <div>
            <h1 class="text-3xl font-bold">Hello there,  <%= user.userName[0].toUpperCase()+user.userName.substring(1) %>.</h1>
          </div>
        </div>

</div>
</div>

<div class="bg-white">
  <div class="mx-auto max-w-2xl py-4 px-2 sm:py-4 sm:px-6 lg:max-w-7xl lg:px-8 ">
  <div class="container">
    <div class="row mt-5">
        <div class="col-6">

<!--If user is a teacher they see a list of their top readers -->
              <%if(user.role == "Teacher"){ %> 
                
                <br><br>
                <h4 class="text-2xl font-bold">Your Top Readers Are...</h4>
                <ol>
                  
                  <% for(var i=0; i<3; i++) {%>

                  <li class="text-2xl"><%=i+1%>. <%=(users[i].userName[0].toUpperCase()+users[i].userName.substring(1))%>, <%=(users[i].booksRead)%> books.</li>

                  <% } %>
                </ol>
                <br><br>

<!--TO DO: create an ability for teacher to view each students book list
                <h4 class="text-2xl font-bold">Select a Student to View their report...</h4>
                <select class="select select-info w-full max-w-xs">
                  <option disabled selected>Select Student</option>
                <% for(var i=0; i<users.length; i++) {%>
                  <%if(users[i].role == "Student"){ %>
                <option><%=( users[i].userName[0].toUpperCase()+users[i].userName.substring(1))%></option>
                <% } %>
                <% } %>                             
                </select>
                <button class="btn">Go</button>

               <% } %>  

            <!--  -->
<br>
<br>


<%if(user.role == "Teacher"){ %>    
              <h1 class="text-3xl font-bold">Checked Out Books</h1><br>

<div class="container">
  <div class="overflow-x-auto">
    <table class="table table-compact w-full">
      <tr>
        <th></th>
        <th>Book</th>
        <th>Where is the Book</th>
        <th>Due Date</th>
        <th># of Student on Hold</th>
      </tr>
      <% for(var i=0; i<books.length; i++) {%>
          <%if(books[i].whereIsTheBook != "Bookshelf"){ %>  
            <%if(books[i].whereIsTheBook != user.userName){ %>          
          <tr>
            <td><div class="avatar">
              <div class="w-24 rounded-xl">
                <a href="/book/<%= books[i]._id%>">
                <img src="<%= books[i].image %>" />
                </a>
              </div>
              </div>
            </td>
            <td><a href="/book/<%= books[i]._id%>"><%= books[i].title %></a></td>
            <td><%= books[i].whereIsTheBook[0].toUpperCase()+books[i].whereIsTheBook.substring(1) %></td>
<!--due date-->
            <td><%= books[i].dueDate %></td>
            
            <td><%= books[i].holdBook.length %></td>
          </tr>
          </a>
        </li>
                <% } %>

        <% } %>
        <% } %>
    </table>
  </div>
</div>  
<% } %>




<!--If user is a student the see a table of books they have checked out -->
              <%if(user.role == "Student"){ %>
              <span class="text-2xl"><strong>You currently have the following books checked out:</strong></span><br>
              <!--loop over all of the books this student has 'checked out' into a table-->
              <br>
              <div class="container">
                <div class="overflow-x-auto">
                  <%if(booksCheckedOut !== 0){ %>
                  <table class="table table-compact w-full">
                    <tr>
                      <th></th>
                      <th>Book</th>
                      <th>Author</th>
                      <th>Due Date</th>
                    </tr>
                    <% for(var i=0; i<books.length; i++) {%>
                      <% if (books[i].whereIsTheBook===user.userName){%>
                        <tr>
                          <td><div class="avatar">
                            <div class="w-24 rounded-xl">
                              <a href="/book/<%= books[i]._id%>">
                              <img src="<%= books[i].image %>" />
                              </a>
                            </div>
                            </div>
                          </td>
                          <td><a href="/book/<%= books[i]._id%>"><%= books[i].title %></a></td>
                          <td><%= books[i].author %></td>
                          <td><%= books[i].dueDate %></td>
                        </tr>
                        </a>
                      </li>
                      <% } %>
                      <% } %>
                    <% }else{%>
                      <!--If the user doesn't have any books checked out-->
                      <p>You have no books checked out.</p>
                      <%} %>
                  </table>
                </div>
              </div>  
             <%}%>
          </div>
<br>
<!--Only students can see this section of books the currently have on hold-->
<%if(user.role == "Student"){ %>
  <span class="text-2xl"><strong>You currently have the following books on hold:</strong></span><br>
  <%if(booksOnHold !== 0){ %>
  <!--loop over all of the books this student has 'checked out' into a table-->
  <br>
  <div class="container">
    <div class="overflow-x-auto">
      <table class="table table-compact w-full">
        <tr>
          <th></th>
          <th>Book</th>
          <th>Author</th>
          <th>Spot Number</th>
        </tr>
        <% for(var i=0; i<books.length; i++) {%>
          <% if (books[i].holdBook.includes(user.userName)===true){%>
            <tr>
              <td><div class="avatar">
                <div class="w-24 rounded-xl">
                  <a href="/book/<%= books[i]._id%>">
                  <img src="<%= books[i].image %>" />
                  </a>
                </div>
                </div>
              </td>        
              <td><a href="/book/<%= books[i]._id%>"><%= books[i].title %></a></td>
              <td><%= books[i].author %></td>
              <td><%= books[i].holdBook.indexOf(user.userName)+1 %></td>
            </tr>
            </a>
          </li>
          <% } %>
          <%} %>
      </table>
    </div>
  </div>  
  <% }else{%> 
    <!--If the user doesn't have any books checked out-->
    <p>You have no books on hold.</p>
    <%} %>
 <%}%>
</div>
<br>
<!-- shows badges students earn and number of books read/percent of your goal-->
<!-- only visible to students -->




      </div>
      <div class="col-6">
        <div class="row justify-content-center mt-5">
          <!--Only teacher has access to this link to add a book to the library-->
          <%if(user.role == "Teacher"){ %>
          <a class="btn btn-primary" href="/addabook">Add Books to the Shelf</a>
          <%}%>
          <a class="btn btn-primary" href="/feed">Look for Books</a>
          <%if(user.role == "Student"){ %>
          <a class="btn btn-primary" href="/stats">Reading Stats</a>
          <%}%>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>